*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #7dbed9, #5492b4);
}


.sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-brand {
    padding: 1.5em 0 1.5em 0;
    background: #0c264b;
}

.sidebar-brand h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: #ffffff;
}

.sidebar-brand span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2em;
}

.sidebar-menu {
    margin-top: 2em;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 2em;
    list-style-type: none;
}

.sidebar-menu .link {
    padding-left: 1em;
    display: block;
    margin-left: 2em;
    font-size: 1.2rem;
    text-decoration: none !important;
    color:#000000   
}

.sidebar-menu .link:hover {
    color:#ff0000;
}

.sidebar-menu .link span {
    margin-left: 1em;
}

.sidebar-menu .link.active {
    color: #ffffff;
    background: linear-gradient(to left, #7dbed9, #5492b4);
    padding: 1em 0 1em 1em;
    border-radius: 30px 0 0 30px;
}

.sidebar-menu .eci-image {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 240px;
    height: 91.4px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-image {
    width: 70px;
    height: 70px;
    margin-left: 1em;
}

.user-wrapper {
    display: flex;
    align-items: center;
    padding: 1em;
}

.user-description {
    text-align: right;
    margin-right: 1em;
}

.user-wrapper .username-label {
    display: block;
    font-weight: bold;
}

.user-wrapper .user-image {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
}

.main-content {
    margin-left: 20%;
}


.view-initiatives {
    margin: 5%;
}

.card-comments {
    background: #ffffff !important;
    padding: 15px;
    border-radius: 25px;
}

.toolbar-comments {
    border: none !important;
    background: #ffffff !important;
    margin-bottom: 10px;
}

.resume-panel * {
    border: none !important;
}

.initiative-description  {
    display: inline-block !important;
    word-wrap: break-word !important;
    width: 250px !important;
}

.initiative-keywords {
    display: inline-block !important;
    word-wrap: break-word !important;
    width: 250px !important;
}

.ui-datatable * {
    word-wrap: break-word !important;
}


